body {
  background-color: #3f3f3f;
  /*background: rgb(36,0,0);
	background: linear-gradient(-45deg, rgba(36,0,0,1) 0%, rgba(255,166,0,1) 41%, rgba(255,255,255,0.510224158022584) 100%);
	background-size: contain;*/
}


.freya{
	background-image: url(https://pbs.twimg.com/media/F06y5TAWAAYFh-k?format=jpg&name=large);
	background-size: contain;
	position: relative;
    width: 500px;
    height: 625.15px;
    border-radius: 10%;
    border: 4px solid #ffffff;
    margin: auto;
    display: block;
    align-content: center;
    
}

.freya:hover{
	border: 4px solid #eaa00b;
}

.freya_text{
	font-family: "Arial";
	color: #ffffff;
	text-align: center;

}



nav {
	font-family: "Lovelo";
	text-align: center;

}
.a-navs{
	overflow: hidden;
}
.a-navs a{
	float: left;
	display: block;
	width: 	90px;
	color: #ffffff;
	padding: 14px 16px;
	background-color: #252524;
	border-bottom: 8px #ffffff;
	

}

.a-navs a:hover {
	color: #eaa00b;
	font-weight: bold;
	text-justify: center;
	border-bottom: 8px #eaa00b;
}

.h1-1{
	font-family: "Lovelo";
	text-align: center;
	color: white;
}

a{
	text-decoration: none;
	color: #ffffff
}


